/GUI/AppGUI/target/
/GUI/ebnfCalculator/target/
/GUI/Calculator/target/
.idea/libraries/lib.xml
.idea/libraries/lib.xml
out/production/Software-Engineering-I-Team-Project/GUI/JavaFXTest.class
out/production/Software-Engineering-I-Team-Project/GUI/JavaFXTest.class
out/production/Software-Engineering-I-Team-Project/UmlObject/UmlObject.class
out/production/Software-Engineering-I-Team-Project/UmlObject/UmlObjectTest.class
out/production/Software-Engineering-I-Team-Project/UmlParserTest.class
